body {
  background-color: $clouds;
  font-family: $f-OpenSans; 
}
a {
  color: $sun-flower;
}
h1, h2, h3 {font-family: $f-Cinzel;}
h1 {font-size: $size-title * 2;}
h2 {font-size: $size-title;}
h3 {font-size: $size-subtitle;}
p {font-size: $size-normal;}
i {font-family: $f-IndieFlower;}