body {
  background-color: $clouds;
  font-family: $f-OpenSans; 
}
a {
  color: $sun-flower;
}
h1, h2, h3 {font-family: $f-Cinzel;}
h1 {font-size: $size-title * 2;}
h2 {font-size: $size-title;}
h3 {font-size: $size-subtitle;}
p {font-size: $size-normal;}
i {font-family: $f-IndieFlower;}
.container {
    color: $white;
    @include margen(10px, auto);
    @include padding(20px, 20px);
    width: 80%;
}
.button {
  border-radius: 3px;
  display: inline-block;
  @include padding(10px, 15px);
}
.fixhelper {
  background: $white;
  border: 1px solid $wet-asphalt;
  font-size: 0.8em;
  position: fixed;
  left: 20px;
  top: 20px;
  width: auto;
  a {
    color: $wet-asphalt;
    display: block;
    line-height: 1em;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
  }
}