/**
  ** VARIABLES
**/

/** Color Variables **/ // https://flatuicolors.com/
  $turquoise: #1abc9c;
  $esmerald: #2ecc71;
  $peter-river: #3498db;
  $amethyst: #9b59b6;
  $wet-asphalt: #34495e;
  $sun-flower: #f1c40f;
  $carrot: #e67e22;
  $alizarin: #e74c3c;
  $clouds: #ecf0f1;
  $concrete: #95a5a6;

/** Fonts Family Variables **/ // https://fonts.google.com/
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
  @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
  @import url('https://fonts.googleapis.com/css?family=Cinzel');

  $f-OpenSans: 'Open Sans', sans-serif;
  $f-IndieFlower: 'Indie Flower', cursive;
  $f-Cinzel: 'Cinzel', serif;

/** Fonts Size Variables **/
  $size-title: 3em;
  $size-subtitle: 2em;
  $size-normal: 1em;
  $size-small: 0.7em;

/* Paddings */
  $paddingBase: 20px;
  $paddingMid: 20px;
  $paddingDouble: 20px;

/** Variables Use **/
body {
  background-color: $clouds;
  font-family: $f-OpenSans; 
}
.relevant {
  background-color: $wet-asphalt;
  color: $clouds;
  padding: $paddingBase;
}
a {
  color: $sun-flower;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
h1, h2, h3 {font-family: $f-Cinzel;}
h1 {font-size: $size-title * 2;}
h2 {font-size: $size-title;}
h3 {font-size: $size-subtitle;}
p {font-size: $size-normal;}
i {font-family: $f-IndieFlower;}

/*
*
*
*
*
*
*
*
*
*
*
*/

/* Base Styles */
body{box-sizing: border-box;}
p {margin: 0 0 10px;}
.box{margin: 0 auto; width: 80%;}
.txt-center{text-align: center;}
.relevant{margin: 0 auto; width: 80%;}
h1, h2, h3 {margin: 0 auto 5px; padding: 0;}